.wrapper{
  width: 100%;
  height: 100vh;
}
.wrapperBackColorLightMode{
  background-color: rgba(248, 246, 232, 0.767);
}
.example-spacer {
  flex: 1 1 auto;
}
.responsiveMenuIcon{
  display: none;
}
.content{
  padding: 10px;
}
.listItem:hover{
  background-color: rgb(115, 160, 115);
  color: white;
  transition: 500ms;
}
.listBackColorDarkMode{
  background-color: rgb(75, 75, 75);
}
.listBackColorLightMode{
  background-color: rgb(225, 231, 229);
}
.removeButton:hover{
  background-color: #d43d5b;
  color: white;
}
@media only screen and (max-width: 600px) {
  .responsiveMenuIcon{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  .menuItem{
      display: none;
  }
}
